AddType image/svg+xml                   svg svgz
AddEncoding gzip                        svgz
AddType application/vnd.ms-fontobject   eot
AddType font/truetype                   ttf
AddType font/opentype                   otf
AddType font/woff                       woff
AddType image/vnd.microsoft.icon        ico
AddType text/x-component                htc

Options -MultiViews
Options -Indexes
AddDefaultCharset utf-8
AddCharset utf-8 .html .css .js .xml .json .rss
# Don't tell everyone we're apache.
ServerSignature Off

#Options +FollowSymLinks
#RewriteEngine on

# Usually it RewriteBase is just '/', but 
# replace it with your subdirectory path
#RewriteBase /

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule /?([A-Za-z0-9]+)/([A-Za-z0-9]+)/?$ http://guelphseven.com/test.php
#?group=$1&id=$2 [NC]
#Alias /test.php.* /funny 

#roup=(.*)&id=(.*) http://guelphseven.com/$1/$2
