# Web fonts support
AddType image/svg+xml                   svg svgz
AddEncoding gzip                        svgz
AddType application/vnd.ms-fontobject   eot
AddType font/truetype                   ttf
AddType font/opentype                   otf
AddType font/woff                       woff
AddType image/vnd.microsoft.icon        ico
AddType text/x-component                htc

Options -MultiViews
Options -Indexes
AddDefaultCharset utf-8
AddCharset utf-8 .html .css .js .xml .json .rss
# Don't tell everyone we're apache.
ServerSignature Off

# Hide the cache folder
# <Directory ~ "tumblr_cache">
# Order allow,deny
# Deny from all
# </Directory>

Options +FollowSymlinks
RewriteEngine On

# Uh no we don't use php >_>
RewriteRule (index\.php) /?page=$1 [NS,L]

# Not a real place? I don't care!
RewriteCond %{REQUEST_FILENAME} !-d [OR]
RewriteCond %{REQUEST_URI} !^/$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*) /?page=$1 [NS,L]
