html, body, div {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
/*a {
  text-decoration: none;
  color: black;
  background-color: green;
  background: url(term.png) no-repeat bottom left;
}*/

a:hover,
div.indexdiv a,
div.toc a {
  text-decoration: underline;
  background: none;
  color: blue;
}

